[[plugin.prepend_preloaders]]
# Do not preload MTP mount_point, cause they are very slow.
# Environment variable won't work here.
# Using absolute path instead.
name = "/home/ufuk/Media/**/*"
run = "noop"

[[plugin.prepend_previewers]]
# Allow to preview folder.
name = "*/"
run = "folder"
sync = true

[[plugin.prepend_previewers]]
# Do not preview MTP mount_point (uncomment to except text file)
#  { mime = "{text/*,application/x-subrip}", run = "code" },
# Using absolute path.
name = "/home/ufuk/Media/**/*"
run = "noop"


[[plugin.prepend_fetchers]]
id  = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*/"
run = "git"

[preview]
wrap = "yes"

[opener]
extract = [
  { run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
]
